.skill-image-container {
  position: sticky;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.skill-image {
  border: 1px solid rgb(122, 122, 122);
  scale: 3;
  object-fit: contain;
}

.navbar {
  border-bottom: 1px solid rgba(122, 122, 122, 122);
}

.filter-toggle {
  transition: all 0.3s ease;
  min-width: 15rem;
}