.skill-detail {
  position: relative;
}

.skill-image-container {
  position: sticky;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.skill-image {
  border: 1px solid rgb(122, 122, 122);
  scale: 3;
  object-fit: contain;
}

.navbar {
  border-bottom: 1px solid rgba(122, 122, 122, 122);
}

.stat-val {
  color: #9ac8f8;
  font-weight: 700;
}
