html {
    overflow: hidden;
    height: 100vh;
}

.navbar {
    border-bottom: 1px solid rgba(122, 122, 122, 122);
}

.skills-grid {
    gap: 1.25rem 0.5rem;
    width: 50%;
    margin: 0 auto;
    position: relative; /* Enable absolute positioning for overlay arrows */
    justify-items: center;
    align-items: center;
}

.empty-skill-card {
    padding: 0.5rem;
    width: 210px;
    height: 105px;
}

/* Uniform skill cards */
.skill-card {
    background: #222222;
    border: 1px solid #8a8a8a8a;
    border-radius: 6px;
    padding: 0.25rem;
    text-align: center;
    color: white;
    position: relative; /* Enable absolute positioning for prerequisites */

    /* 2:1 rectangle size */
    width: 210px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.skill-card .image {
    height: 48px;
    width: 48px;
    flex-shrink: 0;
}

.skill-card div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    flex-shrink: 1;
}

.has-text-purple {
    color: rgb(190, 0, 210);
}

/* Toast container positioning */
.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.toast-container .notification {
    padding: 1rem;
    cursor: pointer;
    margin: 0.5rem !important;
}

/* Custom skill tree tab styling / Bulma overrides */
.tabs li.is-active a {
    border-bottom-color: white !important;
    color: white !important;
}

.tabs a:hover {
    border-bottom-color: transparent !important;
    color: white !important;
}

/* Override Bulma box shadow to make it 50% smaller */
.box {
    --bulma-shadow: 0 0.25em 0.5em -0.0625em hsla(var(--bulma-shadow-h),var(--bulma-shadow-s),var(--bulma-shadow-l),0.1),0 0px 0 0.5px hsla(var(--bulma-shadow-h),var(--bulma-shadow-s),var(--bulma-shadow-l),0.02) !important;
}